body {
  margin: 0;
  padding: 0;
  font-family: "Proxima nova", sans-serif;
}

:root {
  --Bleu: #0071b3;
  --Orange: #f7a100;
  --white: white;
  --black: black;
  --gray: gray;
}

/* -------------- Desktop Versies !!!!!!---------------- */

.nav-desktop {
  display: none;
}

/* ---------------------------------------------------- */

.logo {
  float: left;
  margin: -8px;
  left: -16px;
}

nav {
  height: 52px;
  background-color: var(--Orange);
}

nav ul {
  float: right;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
  padding: 10px;
}



.house_image {
  width: 100%;
}

/* ----------- Swiper ----------- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------------- Wrapper --------------------------*/
/* .wrapper {
  height: 100%;
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .item {
  min-width: 90%;
  /* line-height: 110px; 
  margin: 5px;
}

/*-------------------------------------------------*/
.postcode {
  margin-top: -20px;
  color: var(--gray);
}

/* imageIcon */

.imageIcon li {
  color: var(--Bleu);
  margin: 0 10px 0 10px;
}

.imageIcon {
  font-size: large;
}

.imageIcons {
  display: flex;
  justify-content: center;
  padding: 0;
}

.imageIcons li {
  display: flex;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

/*----------- Block 1.1 --------------*/

li.block1-1 {
  display: flex;
}

/* -------- (Omschrijving) ----------*/

main {
  margin: 10px;
}

#check {
  display: none;
}

.content {
  display: none;
  transition: 0.5s linear;
}

label {
  display: inline-block;
  margin-top: 10px;
  color: var(--Bleu);
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

#check:checked ~ .content {
  display: block;
}
#check:checked ~ label {
  visibility: hidden;
}
#check:checked ~ label:after {
  content: "Lees minder";
  display: block;
  visibility: visible;
}

/*---------- Accordion -------------*/

.accordion {
  background-color: #eee;
  color: var(--black);
  cursor: pointer;
  align-content: center;
  padding: 18px;
  width: 100%;
  margin-top: 2px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
}

.active,
.accordion:hover {
  background-color: var(--Orange);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: var(--white);
  overflow: hidden;
}

.ul2 li {
  margin: 1em;
  list-style-type: none;
  display: flex;
}

/*------------------ Activiteit FlexBox ---------------*/
.flexbox-activiteit {
  /*Center dit !!!!!!!!!!!!! HOE*/
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.flexbox-activiteit,
a {
  outline: none;
  text-decoration: none;
  color: var(--Bleu);
}

#d {
  background-color: rgb(255, 255, 0);
}

/*------------------ In De BUURT ----------------------------------*/

.buurt {
  /* border-style: solid; */
  border-color: var(--Bleu);
  padding: 10px;
  border: 1px solid var(--white);
  box-shadow: 1px 1px 5px var(--gray);
}

.indebuurt {
  margin-left: 2%;
  color: var(--Bleu);
  font-weight: 600;
}

/*---------------------- MediaQuery -----------------------------------------*/

@media only screen and (min-width: 768px) {
  nav {
    display: none;
  }

  .nav-desktop {
    display: block;
  }

  #menuBurger {
    margin-right: 5px;
  }

  #flexUl {
    display: flex;
    align-items: center;
  }
  
  /*----------- Nav Icons ---------- */
  button{
    background: none;
    border: none;
  }

  

  #mijnHuis,
  #menuBurger {
    align-self: center;
    margin-right: 1.5em;
  }

  main {
    margin: auto;
    width: 768px;
    padding: 50px;
  }

  section {
    width: auto;
    padding: 0 20% 0 20%;
  }
}
