
body {
  margin: 0;
  padding: 0;
  font-family: "Proxima nova", sans-serif;
}

:root{
    --Bleu: #0071b3;
    --Orange: #f7a100;
    --white: white ;
    --black: black;
    --gray: gray;

}

.logo {
  float: left;
  margin: -8px;
  left: -16px;
}

nav {
  height: 52px;
  background-color: var(--Orange);
}

nav ul {
  float: right;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
  padding: 10px;
}

.house_image{
    width: 100%;
}

.postcode{
    margin-top: -20px;
    color: var(--gray);
}


/*----------- Block 1.1 --------------*/

li.block1-1 {
  display: flex;
}

/* -------- (Omschrijving) ----------*/

main {
  margin: 10px;
}

#check {
  display: none;
}

.content {
  display: none;
  transition: 0.5s linear;
}

label {
  display: inline-block;
  margin-top: 10px;
  color: var(--Bleu);
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

#check:checked ~ .content {
  display: block;
}
#check:checked ~ label {
  visibility: hidden;
}
#check:checked ~ label:after {
  content: "Lees minder";
  display: block;
  visibility: visible;
}

/*---------- Accordion -------------*/

.accordion {
  background-color: #eee;
  color: var(--black);
  cursor: pointer;
  align-content: center;
  padding: 18px;
  width: 100%;
  margin-top: 2px;
  border:none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
}

.active,
.accordion:hover {
  background-color: var(--Orange);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: var(--white);
  overflow: hidden;
}

.ul2 li{
    margin: 1em;
    list-style-type: none;
    display: flex;
}

/*------------------ Activiteit FlexBox ---------------*/
.flexbox-activiteit{
    /*Center dit !!!!!!!!!!!!! HOE*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

/*------------------ In De BUURT ----------------------------------*/

.buurt{
    /* border-style: solid; */
    border-color: var(--Bleu);
    padding: 10px;
    border: 1px solid var(--white); 
    box-shadow: 1px 1px 5px var(--gray);
}

.indebuurt{
    margin-left: 2%;
    color: var(--Bleu);
    font-weight: 600;
}

